{% extends 'base.html.twig' %} 
{% block title %}
Todo List
{% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/todo.css') }}" />
{% endblock %} 

{% block body %}
<h1>Todo List</h1>
<a href="{{ path('todo_new') }}">Ajouter une nouvelle tâche</a>

<form method="get" action="{{ path('todo_index') }}">
<!-- Formulaire de filtre -->  
  <label for="filter">Filtrer par statut :</label>
  <select name="filter" id="filter" onchange="this.form.submit()">
      <option value="">Toutes</option>
      <option value="done" {{ app.request.get('filter') == 'done' ? 'selected' : '' }}>✅ Validées</option>
      <option value="pending" {{ app.request.get('filter') == 'pending' ? 'selected' : '' }}>⏳ En cours</option>
  </select>
</form>

<ul>
  {% for todo in todos %}
  <li class="row">
    <strong class="col s3">{{ todo.title }}</strong> -
    <span class="col s5">{{ todo.description }}</span>
    <span class="col s2 {{ todo.done ? 'status-done' : 'status-pending' }}">
        {{ todo.done ? '✅ Valider' : '⏳ En cours' }}
    </span>

    <a class="col s2" href="{{ path('todo_edit', { id: todo.id }) }}">Modifier</a>

    <form
      action="{{ path('todo_delete', { id: todo.id }) }}"
      method="post"
      style="display: inline"
    >
      <input type="hidden" name="_method" value="DELETE" />
      <input class="col s2"
        type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ todo.id) }}"
      />
      <button
        type="submit"
        onclick="return confirm('Voulez-vous vraiment supprimer cette tâche ?');"
      >
        Supprimer
      </button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
